# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# PyCharm (если используешь)
.idea/
*.iml

# Виртуальное окружение (если есть)
venv/
env/

# Файлы сохранения (чтобы не путались чужие сейвы с твоими)
savegame.json